manisha
iv.box{width:35%;border:1px solid pink;margin-left:10px; padding:20px;float:left}
input,select,textarea{margin:3px;padding:5px;border-radius:2px;border:1px solid pink}
.footer{
	margin-lift:100px;paddin:50px;text-align:center;background:#1010111;color:white;
	

